
<h1><%= @client.name %></h1>
<% @case_notes.each do |case_note| %>
<div>
<h3>Case Note Date: <%= case_note.date %></h3>
</div>
<div>
<h3>Case Summary:</h3>
<h3><%= case_note.note %></h3>
</div>
<% end %>
