<div ng-app="app">
  <div ng-controller="clientsCtrl" ng-init="dayLog()">
    <style>
      #clientMap {
        height: 800px;
        width: 1025px;
      }
    </style>
    <div id="dailyMap"></div>
  </div>
</div>
