<h1>Clients</h1>

<div class="show_container">
  <%@clients.each do |client| %>
    <a href="/clients/<%= client.id %>">
      <ul>
        <h5><%= client.id %>. <%= client.name %></h5>
      </ul>
  <% end %>
</div>
