<div ng-app="app">
  <div ng-controller="clientsCtrl" ng-init="dayLog()">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    <style>
      #dailyMap {
        height: 800px;
        width: 1025px;
      }
    </style>
    <div id="dailyMap"></div>
  </div>
</div>
