.show_container {
  width: 400px;
  height: 200px;
  overflow: scroll;
}

.show2_container {
  width: 400px;
  height: 400px;
  overflow: scroll;
}

.mainContainer
{
    float:right;
    height: 400px;
    width: 1000px;
    padding:3px;
    background: none;
    overflow-y: scroll;
    position:fixed;
}
